/* Webfonts */
@import '_fonts.scss';

/* Custom Style Imports */
@import '_utils.scss';
@import '_selectSize.scss';
@import '_morinTab.scss';

/* Tailwind base/components */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Custom Style Imports */
@import '_typography.scss';
@import '_locomotive.scss';

/* Tailwind Utilities */
@import 'tailwindcss/utilities';


/* Simple defaults */
body {
  @apply font-default text-defaultSmall md:text-default antialiased text-black bg-white;
}

/* Trigger Animation  */
.trigger{
  @apply transition-colors delay-200 duration-200;
  @apply bg-transparent;

  &.is-inview{
    @apply transition-colors delay-200 duration-1000;
    @apply bg-red-300;
  }
}

.linearMore {
  background: linear-gradient(0deg, #D1F1FF 45.27%, rgba(209, 241, 255, 0) 100.22%);
}

.linearProduct-270 {
  background: linear-gradient(270deg, #FFFEF9 26.83%, rgba(255, 254, 249, 0) 100%);
}

.linearProduct-90 {
  background: linear-gradient(90deg, #FFFEF9 26.83%, rgba(255, 254, 249, 0) 100%);
}

.sliderDesktop {
  .swiper-slide {
    width: auto !important;
  }
}

.swiper-pagination .swiper-pagination-bullet {
  @apply bg-transparent w-[10px] h-[10px] opacity-100 border-2 border-morin-blue md:border-white;
}

.swiper-pagination .swiper-pagination-bullet-active {
  @apply bg-morin-blue md:bg-white  ;
}

nav.header-nav {
  & > *:not(div#marker) {
    @apply relative z-2 h-8 rounded-full px-5 flex items-center justify-center leading-none pt-[4px];
    @apply transition-colors duration-200 delay-75 ease-in-out;
    &.focus {
      @apply text-white;
    }
  }
}

.all-border {
  border: solid thin blue;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}